---
import '../styles/posttemplatedetails.scss';
import { site } from "../data/siteMetaData.js";
import moment from 'moment';
import profilePic from '../../public/photo.jpg';
import Links from './Links.astro';
import { getCollection } from "astro:content";

const { author, subtitle } = site;
const { post } = Astro.props;

const tags = post.tags.map((postTag: string) => {
  const tagObject = site.menu.find(menuElement => menuElement.label === postTag)
  return tagObject
});

const allArticles = await getCollection("articles");
const articleIndex = allArticles.findIndex(currentArticle => currentArticle.slug === post.slug);
const prev = allArticles[articleIndex + 1];
const next = allArticles[articleIndex - 1];
---

<div>
  <div>
    <a class="post-single__home-button" href="/">
      <img
        src={profilePic.src}
        class="post-single__home-photo"
        width="75"
        height="75"
        alt={author.name}
      /><br />
      Home
    </a>
  </div>
  <div class="post-single">
    <div class="post-single__inner">
      <h1 class="post-single__title">{post.isArchived ? "[Archived] " : ""}{post.postTitle}</h1>
      <div class="post-single__date">
        {moment(post.date).isBefore('2007-05-06') ? (
          <time>Written Sometime Before 2007</time>
        ) : (
          moment(post.date).format('MMMM DD, YYYY')
        )}
    </div>
    
    <div class="post-single__body">
      <slot />
    </div>

    <div class="post-single__footer">
      <div class="post-single__tags">
        <ul class="post-single__tags-list">
          {tags &&
            tags.map((tag: { path: string; label: string; }) => (
              <li class="post-single__tags-list-item">
                <a href={tag.path} class="post-single__tags-list-item-link">
                  {tag.label}
                </a>
              </li>
            ))}
        </ul>
      </div>
      <hr />
      <div>
        <h2 class="post-single__footer-title">
          <a class="sidebar__author-title-link" href="/">
            {author.name}
          </a>
        </h2>
        <p class="post-single__footer-subtitle">{subtitle}</p>
      </div>
      <Links data={author} />
    </div>
  </div>

  <div class="post-single__footer-nextprev">
    {prev ? (
      <a
        class="post-single__footer-prev"
        href={"/articles/"+prev.slug+"/"}
      >
        &lt;&lt; {prev.data.postTitle}
      </a>
    ) : null}
    {next ? (
      <a
        class="post-single__footer-next"
        href={"/articles/"+next.slug+"/"}
      >
        {next.data.postTitle} &gt;&gt;
      </a>
    ) : null}
  </div>
</div>
