---
import '../styles/global.scss';
import { site } from "../data/siteMetaData.js";
import { ViewTransitions } from 'astro:transitions';
import ArticleTemplateDetails from '../components/ArticleTemplateDetails.astro';

export interface Props {
  frontmatter: {postTitle: string, description: string};
}

const { frontmatter } = Astro.props;
const { postTitle, description } = frontmatter;
const { title } = site;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${postTitle} - ${title}`}</title>
		<meta name="description" content={description} />
		<ViewTransitions />
	</head>
	<body>
    <main class="layout" transition:animate="slide">
      <ArticleTemplateDetails post={frontmatter}>
        <slot />
      </ArticleTemplateDetails>
    </main>
  </body>
</html>