---
import '../styles/global.scss';
import { site } from "../data/siteMetaData.js";
import CommonHead from '../components/CommonHead.astro';
import PageTemplateDetails from '../components/PageTemplateDetails.astro';
import Sidebar from '../components/Sidebar.astro';

export interface Props {
  frontmatter:  {pageTitle: string, description: string};
}

const { frontmatter } = Astro.props;
const { pageTitle, description } = frontmatter;
const { title } = site;
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{`${pageTitle} - ${title}`}</title>
    <meta name="description" content={description} />
		<CommonHead />
	</head>
	<body>
    <main class="layout">
      <PageTemplateDetails title={pageTitle}>
        <slot />
      </PageTemplateDetails>
      <Sidebar data={site} />
    </main>
  </body>
</html>