---
import '../styles/global.scss';
import { site } from "../data/siteMetaData.js";
import CommonHead from '../components/CommonHead.astro';
import TagTemplateDetails from '../components/TagTemplateDetails.astro'
import Sidebar from '../components/Sidebar.astro';

export interface Props {
  term: string;
}

const { term } = Astro.props;
const { title } = site;
const pageTitle = `All Posts Tagged as "${term}"`;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{`${pageTitle} - ${title}`}</title>
		<CommonHead />
	</head>
	<body>
		<main class="layout">
			<TagTemplateDetails term={term}>
				<slot />
			</TagTemplateDetails>
      <Sidebar data={site} />
		</main>
</html>